server:
  port: 8082

spring:
  datasource:
#    url: jdbc:mysql://conference.cluster-cvj9m8lve12s.ap-northeast-2.rds.amazonaws.com:3306/conference?serverTimezone=UTC&allowPublicKeyRetrieval=true&useSSL=false&useUnicode=yes&characterEncoding=UTF-8
#    username: root
#    password: password1!

  flyway:
    enabled: true
    baseline-version: 0
    baseline-on-migrate: true

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    hibernate:
      ddl-auto: validate

logging:
  level:
    orig:
      hibernate:
        type:
          descriptor:
            sql:
              BasicBinder: DEBUG

auth:
  secret-key: secret-key