server:
  port: 8083

spring:
  datasource:
    url: jdbc:mysql://localhost:33306/analysis?serverTimezone=UTC&allowPublicKeyRetrieval=true&useSSL=false&useUnicode=yes&characterEncoding=UTF-8
    username: cu
    password: password

  flyway:
    enabled: true
    baseline-version: 0
    baseline-on-migrate: true

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    hibernate:
      ddl-auto: validate

logging:
  level:
    orig:
      hibernate:
        type:
          descriptor:
            sql:
              BasicBinder: DEBUG

auth:
  secret-key: secret-key
